<template>
  <div>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/public/paloras_logo.png" alt="Paloras">
        </a>
      <ul class="nav navbar-nav">
        <li><router-link to="home">Home</router-link></li>
        <li v-if="user.authenticated"><router-link to="get-settings">Get Settings</router-link></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li v-if="!user.authenticated"><router-link to="login">Login</router-link></li>
        <li v-if="!user.authenticated"><router-link to="signup">signup</router-link></li>
        <li v-if="user.authenticated"><router-link to="settings">settings</router-link></li>
        <li v-if="user.authenticated" @click="logout()"><router-link to="login">Logout</router-link></li>
      </ul>
    </div>    
  </nav>
  <div class="container">
    <router-view></router-view>
  </div>
  </div>
</template>

<script>
import auth from '../auth'

export default {
  data() {
    return {
      user: auth.user
    }
  },

  methods: {

    logout() {
      auth.logout()
    }
  }
}
</script>