<template>
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Get the settings!</h1>
    <button class="btn btn-warning" v-on:click="GetSettings()">Get Settings</button>
    <div class="quote-area" v-if="quote">
      <h2><blockquote>{{ settings }}</blockquote></h2>      
    </div>
  </div>
</template>

<script>
import auth from '../auth'

export default {
  
  data() {
    return {
      settings: ''
    }
  },

  methods: {
    GetSettings() {
      var jwtDecode = require('jwt-decode');
      var decoded = jwtDecode(auth.getAuthHeader());
      this.$http
        .get('http://localhost:5000/api/v1/default-settings/'+decoded.identity, (data) => {
          this.settings = data;
        }, { 
          headers: {'Authorization': auth.getAuthHeaderToSend()}
        })
        .error((err) => console.log(err))
    }
  },


}
</script>