<template>
<div>
  <div class="col-md-3">
    <div class="list-group">
      <a class="list-group-item" v-bind:class="{ active: mode=='change-password' }" v-on:click="changeMode('change-password')">Change Password</a>
      <a class="list-group-item" v-bind:class="{ active: mode=='dashboard-settings' }" v-on:click="changeMode('dashboard-settings')">Dashboard Settings</a>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1" v-if="mode == 'change-password'">
    <h1>Change Password</h1>
    <div class="alert alert-danger" v-if="error">
          <p v-if="error.description">{{ error.description }}</p>
          <p v-else-if="error.message">{{ error.message }}</p>
        </div>
        <div class="form-group">
          <input  type="password"  class="form-control" placeholder="Enter your password" v-model="credentials.password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm your password" v-model="credentials.new_password">
        </div>
        <button class="btn btn-primary" @click="submit()" :disabled="!(credentials.password == credentials.new_password && credentials.new_password.length > 4)">Change Password</button>
  </div>
  <div class="col-md-6 col-md-offset-1"  v-else-if="mode == 'dashboard-settings'">
    <h1>DashBoard Settings</h1>
    <form name="selection" method="post" >
    <div class="row">
      <select class="col-sm-5" multiple size="10" id="from">
      <option value="dbs_settings_i1">IncidentTrend Analysis</option>
      <option value="dbs_settings_i2">Product Incident Distribution Analysis</option>
      <option value="dbs_settings_i3">Product Incident Rate Distribution Analysis</option>
      <option value="dbs_settings_i4">Compare Incident Rate Distribution Analysis</option>
      <option value="dbs_settings_i5">Report1</option>
      <option value="dbs_settings_i6">Report2</option>
      <option value="dbs_settings_i7">Report3</option>
      <option value="dbs_settings_i8">Report4</option>
      <option value="dbs_settings_i9">Report5</option>
      <option value="dbs_settings_i10">Report6</option>
    </select>
    <div class="controls col-sm-2"> 
        <a class="btn btn-primary btn-xs btn-block" href="javascript:moveAll('from', 'to')">&gt;&gt;</a> 
        <a class="btn btn-primary btn-xs btn-block" href="javascript:moveSelected('from', 'to')">&gt;</a> 
        <a class="btn btn-primary btn-xs btn-block" href="javascript:moveSelected('to', 'from')">&lt;</a> 
        <a class="btn btn-primary btn-xs btn-block" href="javascript:moveAll('to', 'from')">&lt;&lt;</a> </div>
    <select multiple id="to" class="col-sm-5" size="10" name="topics[]"></select>
    </div> 
    </form>
  </div>
</div>
</template>

<script>
import auth from '../auth'
import {config} from '../index'
export default {
  
  data() {
    return {
      credentials:{
        password:'',
        new_password: ''
      },
      error: '',
      mode: "change-password",
      pwCheck: function(){
        return this.credentials.password==this.credentials.password;
      }
    }
  },

  methods: {
    submit() {
      var credentials = {
        password: this.credentials.password,
        new_password: this.credentials.new_password
      }
      this.$http
        .post(config().API_HOME+'reset-password', credentials, (data) => {
          this.settings = data;
          this.credentials.password = '';
          this.credentials.new_password = '';
        }, { 
          headers: {'Authorization': auth.getAuthHeaderToSend()}
        })
        .error((err) => {
          console.log(err)})
    },
    changeMode: function(new_mode){
      this.mode = new_mode;
    }
  }

}
</script>